*                       @Modali-Consulting/maintainers
/packages/node/         @Modali-Consulting/maintainers
/packages/python/       @Modali-Consulting/maintainers
/specs/                 @Modali-Consulting/maintainers
